mac-button, ui-button {
  display: inline-block;
  padding: 2px 12px;
  border: 1.5px solid var(--fg-color);
  border-radius: 4px;
  position: relative;
  font-weight: 600;
  color: var(--fg-color);
  box-shadow: inset 1px 1px 0px white, inset -1px -1px 0px var(--shadow-1);
  box-sizing: border-box;
  text-align: center;
  &[primary] {
    margin: 2px;
    &::before {
      content: '';
      position: absolute;
      inset: -4px;
      border-radius: 5px;
      border: 1.5px solid var(--fg-color);
    }
  }
  &[disabled] {
    --fg-color: var(--shadow-1);
    box-shadow: none;
  }
  &:not([disabled]):active {
    background-color: var(--shadow-1);
    box-shadow: inset -1px -1px 0px white, inset 1px 1px 0px var(--shadow-2);
  }
}